/*body {*/
/*background-image: url("../../quanlisanpham/img/lgo.jpg");*/
/*    background-size: cover;*/
/*    background-position-y: -70px ;*/
/*}*/
/*body{*/
/*    background-color: #FFA16C;*/
/*}*/
.container {
    max-width: 960px;
    margin: 0px auto;
}

#header {
    background-color: black;
}

nav {
    display: flex;
    justify-content: space-between;
    justify-items: center;
}

#logo img {
    max-width: 70px;
    height: auto;
}

#main-menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

#main-menu li {
    position: relative;
}

#main-menu li a {
    color: aliceblue;
    display: block;
    padding: 18px 20px;
    text-decoration: none;
}

#main-menu > li > a::before {
    content: "";
    height: 4px;
    width: 0px;
    background: #f00;
    position: absolute;
    bottom: 0px;
    left: 0px;
    transition: 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#main-menu > li:hover > a::before {
    width: 100%;
}

#main-menu .sub-menu li:hover a {
    color: red;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #111;
    line-height: 1.15;

}
.come-back {
}
.cart{
    margin-left: 1400px;
}



#wrapper1 {
    max-width: 1170px;
    margin: 0 auto;
}

.headline {
    text-align: center;
    margin: 40px 0px;
}

h3 {
    font-size: 18px;
    color: #111;
    padding: 10px 20px;   text-transform: uppercase;
    border: 1px solid #bebebe;
    display: inline-block;
    color: #555;

}

ul.products {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

ul.products li {
    flex-basis: 25%;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
    margin-bottom: 30px;

}

ul.products li img {
    max-width: 100%;
    height: auto;
}

ul.products li .product-top {
    position: relative;
    overflow: hidden;
}

ul.products li .product-top .product-thumb {
    display: block;

}

ul.products li:hover .product-top .product-thumb img {
    filter: opacity(80%);

}

ul.products li .product-top .product-thumb img {
    display: block;
    border-top-left-radius: 0.5rem 0.5rem;
    border-top-right-radius: 0.5rem 0.5rem;


}


ul.products li .product-top a.buy-now {
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    display: block;
    background-color: #446084;
    color: #fff;
    padding: 10px 0px;
    position: absolute;
    bottom: -36px;
    width: 100%;
    transition: 0.25s ease-in-out;
    opacity: 0.85;
}

ul.products li:hover a.buy-now {
    bottom: 0px;
}

ul.products li .product-info {
    padding: 10px 0px;
}

ul.products li .product-info a {
    display: block;
    text-decoration: none;
}

ul.products li .product-info a.producr-cat {
    font-size: 11px;
    text-transform: uppercase;
    color: #9e9e9e;
    padding: 3px 0px;
}

ul.products li .product-info a.product-name {
    color: #334862;
    padding: 3px 0px;
}

ul.products li .product-info .product-price {
    color: #111;
    padding: 2px 0px;

}