@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Open+Sans:ital,wght@0,600;1,400&display=swap');
/*:root{*/
/*    --white: #fff*/
/*    --light: #eeeded*/
/*    -orange: #FFA16C*/
/*}*/
body{
    background-color: #FFA16C;
    font-family: system-ui;
    /*overflow: hidden;*/
}
.container{
    width: 1000px;
    border: 1px solid #ffffff;
    max-width: 100%;
    margin: 50px auto 0;
    display: grid;
    grid-template-columns: 200px auto ;
    padding: 20px;
    border-radius: 30px;
    min-height: 80vh;
}
.container .menu{
    background-color: #ffffff;
    border-top-left-radius: 30px;
    border-botton-right-radius: 30px;

}
/*.container .cart{*/
/*    background-color: #ffffff;*/
/*    border-top-right-radius: 30px;*/
/*    border-bottom-right-radius: 30px;*/
/*}*/
.container .center{
    background-color: #eeeded;
    border-right: 1px solid #eeeded;
    border-right: 1px solid #eeeded;
    border-top-right-radius: 30px;

}



.menu .logo{
    padding: 20px;
    font-family: 'Lobster', cursive;
    font-size: xx-large;
    height: 40px;

}
.menu .logo span{
    color: #FFA16C;
}
.menu ul{
    padding: 20px 0 20px 20px;
    list-style: none;
    border-bottom: 1px solid #eeeded;
}
.menu ul li{
    padding: 10px 0;

}
.menu ul li i{
    margin-right: 12px;
}
.menu ul li.active{
    color: #FFA16C;
    border-right: 2px solid #FFA16C;
}
.menu ul li:hover{
    color: #FFA16C;
    border-right: 2px solid #FFA16C;
}

.center .search{
    background-color: #ffffff;
    padding: 20px;
    height: 40px;
    border-top-right-radius: 30px;
}
.center .add .form{
    width: max-content;
    border: 1px solid #eeeded;
    border-radius: 20px;
    padding-left: 15px;
    color: #eeeded;
}
.center .add .form input{
    border: none;
    padding: 0 10px;
    outline:  none;
    width: 200px;
}

